<footer>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse quam aspernatur odit soluta, distinctio tempore eum labore fugit cupiditate reprehenderit similique ducimus ratione itaque dolorem. Amet sequi sit placeat perspiciatis?</p>
</footer>