<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEWS</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head> 
<body class="column align-items-center justify-content-center vh-100" id="cuerpo">
  <nav class="navbar navbar-dark bg-dark">
    <a href="#" class="navbar-brand mx-auto">NEWS</a>
  </nav>

  <div class="column text-center mt-5">
    <h1>BIENVENIDO</h1>
    <h1>A</h1>
    <h1>LAS NOTICIAS</h1>
    <img src="https://t4.ftcdn.net/jpg/01/67/74/79/360_F_167747932_NE1da5cf9FM30QExtlFjbmk9ypItoJl2.jpg" alt="">
    
  </div>

  <div class="text-center mt-4">
    <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
      <a href="/news" class="text-white">NEWS</a>
    </button>
  </div>
  <nav class="navbar navbar-dark bg-dark" id="footer">
    <a href="#" class="navbar-brand mx-auto" >NEWS</a>
  </nav>
  
</body>

</html>
