<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('partials/head') %> 
  </head>
  <body>
    <%- include('partials/navigaton') %>  
    <main class="container vh-100 pt-2 d-flex text-center justify-content-center align-items-center">
      <section class="display-8">
        <h1 class="display-1">About</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati facere voluptatum architecto at libero porro iusto illum recusandae quisquam officiis omnis beatae voluptatem sapiente dolore iste quae ad nobis, hic incidunt illo? Aliquid pariatur sapiente eveniet quod rerum, laudantium similique est, inventore perferendis molestiae iste animi ipsa quo nisi, nihil libero perspiciatis ad mollitia voluptates ratione beatae quam error. Fugiat tenetur nihil, dolore ducimus eos accusantium eum error quia reprehenderit obcaecati aliquam voluptatum aliquid, distinctio voluptate libero sint sequi ipsum aperiam incidunt, temporibus facere. Natus pariatur corrupti dignissimos aliquam tenetur, ea, nostrum nemo ad expedita, ut necessitatibus sed. Consequatur, ratione tempore nemo voluptate nisi sint laborum molestiae, neque porro ut minus repudiandae, est rem! In officia animi perferendis est veniam nesciunt aut, consequuntur, labore delectus molestias, voluptas illo expedita quae natus tempore. Id ipsum necessitatibus consequatur, magni dolorem cumque obcaecati dolorum tempore laborum voluptatum eius illo dolore? Omnis sint quisquam minima magni maxime corporis dolorum, inventore impedit nemo assumenda! Quae laudantium, totam fugit, sint tempora, dolorum est eligendi reprehenderit sit quaerat eaque cum similique quibusdam. Commodi quos deleniti, natus vel id, expedita sint placeat possimus esse in cumque iste dolorum corporis repellat officia obcaecati animi eum quae, sequi error nobis.</p>
        
      </section>
    </main>
  </body>
</html>
